<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>老师分类列表_未提交作业</title>

</head>
<style>
        html,body{text-align:center;margin:0px auto;}
</style>
<body>
<h1></h1>
<h2>所属老师列表</h2>
<u1>
        {%for teacher in teacherList%}
                <li>老师姓名：{{teacher.sname}}</li>
                <li>老师邮箱：{{teacher.semail}}</li>
                <a href="http://127.0.0.1:8000/login/15/{{studentId}}/{{teacher.id}}/{{pindex}}">
                <input type="submit" value = "查看该老师布置的作业" />
            </a>
        {%endfor%}
</u1>

</body>
</html>