<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/static/css/css_4/tableShow3.css" type="text/css">
    <title>作业分类列表_已提交作业</title>

</head>

<body>
<h1></h1>
<h2>详细作业列表</h2>

<ul class="choice-table">
   <li><a href="http://127.0.0.1:8000/login/14/{{student_id}}/{{teacher_id}}/1">提交时间排序</a></li>
   <li><a href="http://127.0.0.1:8000/login/14/1/{{student_id}}/{{teacher_id}}/1"><span class="current">发布时间排序</span></a></li>
</ul>
   
<u1 class="showHomework">
        {%for homework in page%}
        <div class="box2">
                <li><div class="head1">作业内容：{{homework.homework_content}}</div></li>
                <li>提交的作业：<a href="http://127.0.0.1:8000/login/download/{{homework.handIn_homework}}">{{homework.handIn_homework}}</a></li>
                {%for homework1 in homework1List%}
                     {% if homework1.id == homework.id %}
                          <li>答题情况：
                              {% if homework1.iscommented == False %}
                              <span>待批改</span>
                              {% endif %}

                              {% if homework1.iscorrect == True %}
                              <span> 正确√</span>
                              {% elif homework1.iscorrect == False %}
                              <span> 错误×</span>
                              {% endif %}
                          </li>
                          <li>老师批改评论：{{homework1.tcomment}}</li>
                          <li><div class="date">发布时间：{{homework.homework_create_time}}</div></li>
                          <li><div class="date">提交时间：{{homework.handIn_time}}</div></li>

                              {% if homework1.iscommented == True %}

                                    {% if homework1.iscorrect == False %}
                                          {%if homework1.isfeedback == False %}
                                              <li><span class="tips">作业错误且尚未订正，请尽快提交订正</span></li>
                                          {% elif homework1.isfeedback == True %}
                                              {% if homework1.isright == False %}
                                                 <li><span class="tips">订正内容错误，请重新提交</span></li>
                                              {% endif %}
                                          {% endif %}
                                  {% elif homework1.iscorrect == true %}
                                          {% if homework1.isright == False %}
                                             <li><span class="tips">反馈内容存在问题，可以重新进行反馈</span></li>
                                          {% endif %}
                                  {% endif %}
                                
                                    {% if homework1.iscorrect == False %}
                                      <a class="btn" href="http://127.0.0.1:8000/login/14/1/1/{{homework1.student_id}}/{{homework.teacher_id}}/{{homework1.pk}}">提交订正</a>
                                    {% elif homework1.iscorrect == True %}
                                      <li><span class="tips">作业正确，可以通过反馈和老师交流</span></li>
                                      <a class="btn" href="http://127.0.0.1:8000/login/14/1/1/{{homework1.student_id}}/{{homework.teacher_id}}/{{homework1.pk}} ">进行反馈</a>
                                    {% endif %}
                              {% elif homework1.iscommented == False %}
                                   <li><span class="tips">老师尚未批改，可以重新提交</span></li>
                                   <a class="btn" href="http://127.0.0.1:8000/login/7/{{homework.id}}">重新提交</a>
                              {% endif %}



                    {% endif %}
                {%endfor%}
        </div>
        {%endfor%}
        
</u1>


<nav aria-label="Page navigation">
		<div class="pagination">
			<ul class="pagination">
			{% if page.has_previous %}
				<li>
                    <a href="http://127.0.0.1:8000/login/14/1/{{student_id}}/{{teacher_id}}/{{page.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}


            {% for num in page.paginator.page_range %}
            	{% if num == page.number %}
                	<li class="active"><a href="http://127.0.0.1:8000/login/14/1/{{student_id}}/{{teacher_id}}/{{num}}">{{ num }}</a></li>
                {% else %}
                    <li><a href="http://127.0.0.1:8000/login/14/1/{{student_id}}/{{teacher_id}}/{{num}}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}


            {% if page.has_next %}
                 <li>
                     <a href="http://127.0.0.1:8000/login/14/1/{{student_id}}/{{teacher_id}}/{{page.next_page_number}}" aria-label="Next">
                         <span aria-hidden="true">&raquo;</span>
                     </a>
                 </li>
            {% else %}
                 <li class="disabled">
                     <a href="" aria-label="Previous">
                         <span aria-hidden="true">&raquo;</span>
                     </a>
                 </li>
            {% endif %}
       		</ul>
		</div>
 </nav>
</body>
</html>
