<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <link rel="stylesheet" href="../../../static/css/tableShow2.css" type="text/css">    
    <title>老师分类列表_已提交作业</title>

</head>
<style>
        html,body{text-align:center;margin:0px auto;}
</style>
<body>
<h1></h1>
<h2>所属老师列表</h2>
<u1 class="content1">
        {%for teacher in teacherList%}
           <a class="teacher_box" href="http://127.0.0.1:8000/login/14/{{studentId}}/{{teacher.id}}/{{pindex}}">
                <div class="teacher_info">
                <li>老师姓名：{{teacher.sname}}</li>
                <li>老师邮箱：{{teacher.semail}}</li>
                </div>
            </a>
            
        {%endfor%}
</u1>

</body>
</html>