<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>修改主观题信息</title>

<link rel="stylesheet" href="/static/css/css_2/content_listForm.css" />
<link rel="stylesheet" href="/static/css/css_2/style.css" />

<body>
<div style="margin-top: 200px"></div>
<div class="login-container">

    <h1>请输入更改后的主观题信息</h1>
        <form action="" method="post" id="registerForm" enctype="multipart/form-data">{% csrf_token %}
		    <div>
			    <input type="text" name="homework_content" class="homework_content" placeholder="请输入修改后的主观题描述" oncontextmenu="return false" onpaste="return false" />
		    </div>
            <div>
                <input type="text" name="deadline_days" class="deadline_days" placeholder="请输入距发布时间多少天后为截止日期" oncontextmenu="return false" onpaste="return false">
            </div>
		    <button type="submit" class="register-tis">确定修改</button>
	    </form>
</div>
<div style="margin-top: 200px"></div>

<script type="text/javascript" src="/static/js/js_2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/js_2/common.js"></script>
<!--背景图片自动更换-->
<script type="text/javascript" src="/static/js/js_2/supersized.3.2.7.min.js"></script>
<script type="text/javascript" src="/static/js/js_2/sm-12.js"></script>
<!--表单验证-->
<script type="text/javascript" src="/static/js/js_2/jquery.validate.min.js?var1.14.0"></script>

</body>
</html>