<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客观题列表</title>
</head>
<body>
<h1>客观题作业列表</h1>
<u1>
        {%for homework in page%}
        <!--<a href="{{homework.student_id}}/{{homework.id}}">-->
        <li>
            <I>作业布置时间：</I> {{homework.homework_create_time}}
            <I>作业布置内容：</I> {{homework.item_content}}
            <I>平均正确率：</I> {{homework.mean}}
        </li>
        <a href="http://127.0.0.1:8000/login/18/{{homework.id}}/{{pindex1}}">
            <input type="submit" value = "查看已提交情况" />
        </a>
        <a href="http://127.0.0.1:8000/login/18/1/{{homework.id}}/{{pindex1}}">
            <input type="submit" value = "查看未提交和迟交学生名单" />
        </a>
        {%endfor%}
</u1>

<nav aria-label="Page navigation">
		<div class="pagination">
			<ul class="pagination">
			{% if page.has_previous %}
				<li>
                    <a href="http://127.0.0.1:8000/login/17/{{teacher_id}}/{{page.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}


            {% for num in page.paginator.page_range %}
            	{% if pindex == page.number %}
                	<li class="active"><a href="http://127.0.0.1:8000/login/17/{{teacher_id}}/{{num}}">{{ num }}</a></li>
                {% else %}
                    <li><a href="http://127.0.0.1:8000/login/17/{{teacher_id}}/{{num}}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}


            {% if page.has_next %}
                 <li>
                     <a href="http://127.0.0.1:8000/login/17/{{teacher_id}}/{{page.next_page_number}}" aria-label="Next">
                         <span aria-hidden="true">&raquo;</span>
                     </a>
                 </li>
            {% else %}
                 <li class="disabled">
                     <a href="" aria-label="Previous">
                         <span aria-hidden="true">&raquo;</span>
                     </a>
                 </li>
            {% endif %}
       		</ul>
		</div>
 </nav>

</body>
</html>