<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="/static/css/css_2/style1.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/static/css/css_2/nav.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Preface Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />

	<link href='//fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/static/js/js_2/move-top.js"></script>
    <script type="text/javascript" src="/static/js/js_2/easing.js"></script>

    <title>查看老师个人信息</title>
</head>
<style>

body{
    width: 100%;
	height: 100vh;
	margin: 0 auto;
	background-image:url(../../../static/img/sm/sm-2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	overflow: auto;
	text-align: left;
}

.aaa{
	left: 35%;
	top: 14%;
}

</style>
<body>
<nav>
	        <div class="wrap">
	            <ul class="level">
	                <li class="color1" >๑•̀ㅂ•́) 欢迎来到你的个人空间~ ๑•̀ㅂ•́)</li>
					<li ><a href="http://127.0.0.1:8000/login/25/{{teacher_id}}">首页</a></li>
	                <li>
	                    <a  href="#">班级</a>
	                    <ul class="two">
	                        <li><a href="./11/{{teacher_id}}">查看所教班级</a></li>

	                    </ul>
	                </li>
	                <li>
	                    <a class="color2"  href="#">个人信息</a>
	                    <ul class="two">
	                        <li><a class="color2"  href="">查看个人信息</a></li>
	                        <li><a href="./0/{{teacher_id}}">修改个人信息</a></li>
	                    </ul>
	                </li>
                    <li>
	                    <a href="#">作业</a>
	                    <ul class="two">
	                        <li><a href="./5/{{teacher_id}}">发布主观题作业</a></li>
	                        <li><a href="./16/{{teacher_id}}">发布客观题作业</a></li>
                            <li><a href="./8/{{teacher_id}}/1">查看主观题</a> </li>
                            <li><a href="./17/{{teacher_id}}/1">查看客观题</a> </li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	    </nav>
<div class="aaa">
            <div class="banner-info">
				<div class="col-md-7 header-right">
					<h1>Hi!</h1>
					<h6>您的个人信息在这里哦~请注意查看是否正确</h6>
					<ul class="address">

					<li>
							<ul class="address-text">
								<li><b>姓名</b></li>
								<li>{{teacher.sname}}</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>性别</b></li>
								<li>{% if teacher.sgender == True %}
                                        男
                                    {% else %}
                                        女
                                    {% endif %}</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>年龄 </b></li>
								<li>{{teacher.sage}}</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>密码 </b></li>
								<li>{{user.password}}</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>邮箱</b></li>
								<li>{{user.email}}</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>所教班级</b></li>
								<li>
                                    <u1>
                                        {%for teacher_grade in teacher_grade_List%}
                                                班级:{{teacher_grade.grade}}&nbsp;&nbsp;&nbsp;&nbsp;
                                        {%endfor%}
                                    </u1>
                                </li>
							</ul>
						</li>

					</ul>
				</div>
            </div>

</div>
</body>
</html>