<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>17吧 Home Page</title>

<script src="../../../static/js/js_2/jquery.min.js"></script>
<link rel="stylesheet" href="../../../static/css/css_2/demo.css" >

<style>

</style>
</head>
<body>


	<!-- coidea:loader START -->
    <div class="loader">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- coidea:loader END -->


    <!-- slideshow START -->
    <section class="slideshow">

      <!-- slideshow:navigation START -->
      <ul class="navigation">

        <!-- slideshow:navigation:item START -->
        <li class="navigation-item active">
          <span class="rotate-holder"></span>
          <span class="background-holder" style="background-image: url(../../../static/img/img_2/img/轮盘1.jpg);"></span>
        </li>
        <!-- slideshow:navigation:item END -->

        <!-- slideshow:navigation:item START -->
        <li class="navigation-item">
          <span class="rotate-holder"></span>
          <span class="background-holder" style="background-image: url(../../../static/img/img_2/img/轮盘2.jpg);"></span>
        </li>
        <!-- slideshow:navigation:item END -->

        <!-- slideshow:navigation:item START -->
        <li class="navigation-item">
          <span class="rotate-holder"></span>
          <span class="background-holder" style="background-image: url(../../../static/img/img_2/img/轮盘3.jpg);"></span>
        </li>
        <!-- slideshow:navigation:item END -->

        <!-- slideshow:navigation:item START -->
        <li class="navigation-item">
          <span class="rotate-holder"></span>
          <span class="background-holder" style="background-image: url(../../../static/img/img_2/img/轮盘4.jpg);"></span>
        </li>
        <!-- slideshow:navigation:item END -->

        <!-- slideshow:navigation:item START -->
        <li class="navigation-item">
          <span class="rotate-holder"></span>
          <span class="background-holder" style="background-image: url(../../../static/img/img_2/img/轮盘5.jpg);"></span>
        </li>
        <!-- slideshow:navigation:item END -->

        <!-- slideshow:navigation:item START -->
        <li class="navigation-item">
          <span class="rotate-holder"></span>
          <span class="background-holder" style="background-image: url(../../../static/img/img_2/img/轮盘6.jpg);"></span>
        </li>
        <!-- slideshow:navigation:item END -->

        <!-- slideshow:navigation:item START -->
        <li class="navigation-item">
          <span class="rotate-holder"></span>
          <span class="background-holder" style="background-image: url(../../../static/img/img_2/img/轮盘7.jpg);"></span>
        </li>
        <!-- slideshow:navigation:item END -->

        <!-- slideshow:navigation:item START -->
        <li class="navigation-item">
          <span class="rotate-holder"></span>
          <span class="background-holder" style="background-image: url(../../../static/img/img_2/img/轮盘8.jpg);"></span>
        </li>
        <!-- slideshow:navigation:item END -->

        <!-- slideshow:navigation:item START -->
        <li class="navigation-item">
          <span class="rotate-holder"></span>
          <span class="background-holder" style="background-image: url(../../../static/img/img_2/img/轮盘9.jpg);"></span>
        </li>
        <!-- slideshow:navigation:item END -->

      </ul>
      <!-- slideshow:navigation END -->


      <!-- slideshow:details START -->
      <div class="detail">

        <!-- slideshow:details START -->
        <div class="detail-item active">
          <div class="headline">17吧</div>
          <div class="background" style="background-image: url(../../../static/img/img_2/img/轮盘1.jpg)"></div>
        </div>
        <!-- slideshow:details END -->

        <!-- slideshow:details START -->
        <div class="detail-item">
          <div class="content" ><b><p>关于我们</p></b><br>线上作业的批改和提交问题，常常使师生备受困扰。<br>本平台致力于提升在线教学和线上学习的体验。</div>
          <div class="background" style="background-image: url(../../../static/img/img_2/img/轮盘2.jpg);"></div>
        </div>
        <!-- slideshow:details END -->

        <!-- slideshow:details START -->
        <div class="detail-item">
          <div class="content"><b><p>关于我们<p></b><br>本平台通过细化、优化各个作业事项，提高了教师发布、批<br>改作业的效率，缩短了学生查看、提交、反馈作业的时间。<br>此外，本平台实现了客观题的自动批改，将教师从枯燥机械<br>的批改工作中解放出来，使教学过程更加灵活高效。</div>
          <div class="background" style="background-image: url(../../../static/img/img_2/img/轮盘3.jpg);"></div>
        </div>
        <!-- slideshow:details END -->

        <!-- slideshow:details START -->
        <div class="detail-item">
          <div class="content"><b><p>关于我们</p></b><br>当然，由于开发时间较短，平台的功能还不够完善，整体还<br>存在着一些不足。欢迎您为我们提出宝贵的建议。<br>联系方式：xxx@sjtu.edu.cn</div>
          <div class="background" style="background-image: url(../../../static/img/img_2/img/轮盘4.jpg);"></div>
        </div>
        <!-- slideshow:details END -->

        <!-- slideshow:details START -->
        <div class="detail-item">
          <div class="content"><b><p>帮助</p></b><br>首次使用本平台的用户请先注册。其中，学生用户无需填<br>写“职工密钥”一栏，教师用户无需填写“班号”一栏。<br>已有账号的用户请直接登录。其中，学生无需输入“职工<br>密钥”。</div>
          <div class="background" style="background-image: url(../../../static/img/img_2/img/轮盘5.jpg);"></div>
        </div>
        <!-- slideshow:details END -->

        <!-- slideshow:details START -->
        <div class="detail-item">
          <div class="content"><b><p>帮助</p></b><br>在学生主页，学生用户可以查看和修改个人信息，还可以按<br>题目类型和提交状态查看作业情况。在对应的作业页面中，<br>学生可以按不同的排序方式查看作业，进一步提交和反馈作<br>业。</div>
          <div class="background" style="background-image: url(../../../static/img/img_2/img/轮盘6.jpg);"></div>
        </div>
        <!-- slideshow:details END -->

        <!-- slideshow:details START -->
        <div class="detail-item">
          <div class="content"><b><p>帮助</p></b><br>在教师主页，教师用户可以查看和修改个人信息，可以查看<br>和修改班级信息，还可以按题目类型布置作业。在对应的作<br>业页面中，教师可以查看学生完成作业的情况，进一步修改<br>作业、批改作业。<br></div>
          <div class="background" style="background-image: url(../../../static/img/img_2/img/轮盘7.jpg);"></div>
        </div>
        <!-- slideshow:details END -->

        <!-- slideshow:details START -->
        <div class="detail-item">
          <div class="content">待定。。<br></div>
          <div class="background" style="background-image: url(../../../static/img/img_2/img/轮盘8.jpg);"></div>
        </div>
        <!-- slideshow:details END -->

        <!-- slideshow:details START -->
        <div class="detail-item">
          <div class="content">待定。。<br></div>
          <div class="background" style="background-image: url(../../../static/img/img_2/img/轮盘9.jpg);"></div>
        </div>
        <!-- slideshow:details END -->

      </div>
      <!-- slideshow:details END -->

    </section>

    <a href="login" class="cta" style="z-index: 100">登录/注册</a>

    <!-- slideshow END -->
<script src="../../../static/js/js_2/js/jquery-1.11.0.min.js"></script>
<script src="../../../static/js/js_2/js/TweenMax.min.js"></script>
<script src="../../../static/js/js_2/js/imagesloaded.pkgd.min.js"></script>
<script src="../../../static/js/js_2/js/CSSPlugin.min.js"></script>
<script src="../../../static/js/js_2/js/TextPlugin.min.js"></script>
<script src="../../../static/js/js_2/js/demo.js"></script>

<script type="text/javascript">
var $cta = $('.cta');
var createBtnsMarkup = function createBtnsMarkup() {
	$cta.each(function (i, btn) {
		var $t = $(btn);
		var $btnText = $t.text();
		var $splitText = $btnText.split("");

		$t.html("").append("\n\t\t\t\t<span class=\"btn-text-parent\">\n\t\t\t\t\t<span class=\"wrap_text current-btn-text\"></span>\n\t\t\t\t\t<span class=\"wrap_text buildin-btn-text\"></span>\n\t\t\t\t</span>\n\t\t\t");

		for (var _i = 0; _i < $splitText.length; _i++) {
			$t.
			find(".wrap_text").
			append("<span class=\"btn-letter\">" + $splitText[_i] + "</span>");
		}
	});
};
window.onLoad = createBtnsMarkup();</script>


</body>
</html>



