<!DOCTYPE html>
{% load static %}
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="/static/css/css_4/dog.css">
    <link rel="stylesheet" href="/static/css/css_4/pudding.css">
    <link rel="stylesheet" href="/static/css/css_2/nav.css">
<style>
    .wrap{
        width: 1536px;
    }
</style>
    <title>老师主页</title>
  </head>
<body>
<nav>
	        <div class="wrap">
	            <ul class="level">
	                <li class="color1">(u‿ฺu)欢迎来到你的个人空间~(u‿ฺu)</li>
					<li ><a class="color2" href="http://127.0.0.1:8000/login/25/{{teacher_id}}">首页</a></li>
	                <li>
	                    <a href="#">班级</a>
	                    <ul class="two">
	                        <li><a href="http://127.0.0.1:8000/login/11/{{teacher_id}}">查看所教班级</a></li>

	                    </ul>
	                </li>
	                <li>
	                    <a href="#">个人信息</a>
	                    <ul class="two">
	                        <li><a href="http://127.0.0.1:8000/login/{{teacher_id}}">查看个人信息</a></li>
	                        <li><a href="http://127.0.0.1:8000/login/0/{{teacher_id}}">修改个人信息</a></li>
	                    </ul>
	                </li>
                    <li>
	                    <a href="#">作业</a>
	                    <ul class="two">
	                        <li><a href="http://127.0.0.1:8000/login/5/{{teacher_id}}">发布主观题作业</a></li>
	                        <li><a href="http://127.0.0.1:8000/login/16/{{teacher_id}}">发布客观题作业</a></li>
                            <li><a href="http://127.0.0.1:8000/login/8/{{teacher_id}}/1">查看主观题</a> </li>
                            <li><a href="http://127.0.0.1:8000/login/17/{{teacher_id}}/1">查看客观题</a> </li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	    </nav>

<div class="aaa">
	<div id="boxes">
        <div style="--color: #f44336"><a style="font-size: calc(1vw + 1em); font-weight: 200;color: white; font-family: '黑体'" href="https://www.pexels.com/zh-cn/">Pexels</a></div>
        <div style="--color: #e91e63"><a style="font-size: calc(1vw + 1em); font-weight: 200;color: white; font-family: '黑体'" href="https://gratisography.com/">gratiso -graphy</a></div>
        <div style="--color: #9c27b0"><a style="font-size: calc(1vw + 1em); font-weight: 200;color: white; font-family: '黑体'" href="http://book.21cnjy.com/21">世纪教育书城</a></div>
        <div style="--color: #2196f3"><a style="font-size: calc(1vw + 1em); font-weight: 200;color: white; font-family: '黑体'" href="http://www.kjxy8.cn/">课件学院网站</a></div>
        <div style="--color: #4caf50"><a style="font-size: calc(1vw + 1em); font-weight: 200;color: white; font-family: '黑体'" href="http://www.jyeoo.com/">菁优网</a></div>
        <div style="--color: #ff9800"><a style="font-size: calc(1vw + 1em); font-weight: 200;color: white; font-family: '黑体'" href="http://www.lspjy.com">绿色圃</a></div>
        <div style="--color: #ff6454"><a style="font-size: calc(1vw + 1em); font-weight: 200;color: white; font-family: '黑体'" href="http://www.zgjiaoyan.com/">教研网</a></div>
        <div style="--color: #3bff5d"><a style="font-size: calc(1vw + 1em); font-weight: 200;color: white; font-family: '黑体'" href="http://www.zxxk.com">学科网</a></div>
    </div>
<script>
var boxes = document.querySelectorAll('#boxes > div');
  [].forEach.call(boxes, box => {
    box.addEventListener('mousemove', e => {
      document.body.style.setProperty(
        '--bg-color',
        box.style.getPropertyValue('--color')
      );

      var size = parseInt(getComputedStyle(box).width);

      // scaling
      var x = size * .3 * .7 + .7 * e.offsetX;
      var y = size * .3 * .7 + .7 * e.offsetY;

      box.style.setProperty('--x', x);
      box.style.setProperty('--y', y);
      box.style.setProperty('--size', size);
    });
  });</script>
</div>

<div class="bbb">
 <div class="main">
      <div class="dog">
        <div class="dog__paws">
          <div class="dog__bl-leg leg">
            <div class="dog__bl-paw paw"></div>
            <div class="dog__bl-top top"></div>
          </div>
          <div class="dog__fl-leg leg">
            <div class="dog__fl-paw paw"></div>
            <div class="dog__fl-top top"></div>
          </div>
          <div class="dog__fr-leg leg">
            <div class="dog__fr-paw paw"></div>
            <div class="dog__fr-top top"></div>
          </div>
        </div>
        <div class="dog__body">
          <div class="dog__tail"></div>
        </div>
        <div class="dog__head">
          <div class="dog__snout">
            <div class="dog__nose"></div>
            <div class="dog__eyes">
              <div class="dog__eye-l"></div>
              <div class="dog__eye-r"></div>
            </div>
          </div>
        </div>
        <div class="dog__head-c">
          <div class="dog__ear-l"></div>
          <div class="dog__ear-r"></div>
        </div>
      </div>
    </div>
</div>
</body>
</html>