<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>已注册</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">

<link rel='stylesheet' href='/static/css/css_3/splitting.css'>
<link rel='stylesheet' href='/static/css/css_3/mwgbqon4.css'>
<link rel="stylesheet" href="/static/css/css_3/style.css">

</head>
<body>
<div class="aaa">
<main class="container">
  <h2 data-splitting class="headline headline--ghost" style="color: #FFFF00;">这个邮箱已经被注册了。。</h2>
</main>
</div>
<script src='/static/js/splitting.min.js'></script>
<script src="/static/js/script.js"></script>

</body>
</html>