<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../../static/css/showStudent.css" type="text/css">
    <title>学生列表</title>
</head>
<style>
    html,body{text-align:center;margin:0px auto;}
                body{
    width: 100%;
	height: 100vh;
	margin: 0 auto;
	background-image:url(../../../static/img/sm/sm-33.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	overflow: auto;
}
</style>
<body>
<h1>学生完成情况</h1>
<u1>
    <table border="1" cellspacing="0" cellpadding="15">
        <tr>
            <th>姓名</th>
            <th>正确答案</th>
            <th>学生答案</th>
            <th>正确率</th>
        </tr>
        {%for homework in page%}
             {% if homework.isComplete == True and homework.isLate == False%}
             <tr>
                  <td class="name">{{homework.student_name}}</td>
                  <td class="fixed">{{homework.answer}}</td>
                  <td class="fixed">{{homework.student_answer}}</td>
                  <td>{{homework.accuracy}}</td>
             </tr>
             {% endif %}
        {%endfor%}
    </table>
</u1>

<nav aria-label="Page navigation">
		<div class="pagination">
			<ul class="pagination">
			{% if page.has_previous %}
				<li>
                    <a href="http://127.0.0.1:8000/login/18/{{item_id}}/{{page.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}


            {% for num in page.paginator.page_range %}
            	{% if num == page.number %}
                	<li class="active"><a href="http://127.0.0.1:8000/login/18/{{item_id}}/{{num}}">{{ num }}</a></li>
                {% else %}
                    <li><a href="http://127.0.0.1:8000/login/18/{{item_id}}/{{num}}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}


            {% if page.has_next %}
                 <li>
                     <a href="http://127.0.0.1:8000/login/18/{{item_id}}/{{page.next_page_number}}" aria-label="Next">
                         <span aria-hidden="true">&raquo;</span>
                     </a>
                 </li>
            {% else %}
                 <li class="disabled">
                     <a href="" aria-label="Previous">
                         <span aria-hidden="true">&raquo;</span>
                     </a>
                 </li>
            {% endif %}
       		</ul>
		</div>
 </nav>

</body>
</html>