<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>学生注册</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">

<link rel='stylesheet' href='../../../static/css/css_3/splitting.css'>
<link rel='stylesheet' href='../../../static/css/css_3/mwgbqon2.css'>
<link rel="stylesheet" href="../../../static/css/css_3/style.css">
<style>
            .aaa{
                position: absolute;
                top : -30%;
            }

</style>
</head>
<body>
<div class="aaa">
<main class="container">
  <h2 data-splitting class="headline headline--yell" style="color: #FFFF00;">成功注册学生注册！</h2>
</main>
</div>
<script src='../../../static/js/splitting.min.js'></script>
<script src="../../../static/js/script.js"></script>

</body>
</html>
