<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <title>提交成功</title>
</head>
<body>
    <label for="modal_1" class="button">关于我们</label>
    <div class="box">
        <p>'成功提交作业！'</p>
    </div>
    <div class="modal">
        <input type="checkbox" name="" id="modal_1">
        <label for="modal_1" class="overlay"></label>
        <div class="main">
          <p>
            开发人员：胡定伟，孙浩翔，王轶凡，童颖睿，潘林伟，吴俊，赵思远，叶阳天
            开发目的：软件工程大作业
          </p>
        </div>
      </div>
</body>
</html>